/* Colors */

$white: #fff;
$black: #1d1d1b;

$primary: #1d71b8;
$primaryLight: #99d9f4;

$secondary: #f9b233;

/* Picnic Overwrites */

$picnic-white: $white;
$picnic-black: $black;

$picnic-primary: $primary;
$picnic-blue: $primary;
