/* MethodSnippets */

.MethodSnippets {
  form {
    text-align: right;
    background: white;
    border-top: solid 0.1em #f5f5f5;
    padding: 0 0.3em;
  }

  .tabs {
    max-height: 50vh;
    overflow-y: auto;
  }
}
